<!-- login number input -->
<div class=" ">
    <div class="FoodOrderpage  d-flex flex-column justify-content-end d-md-flex justify-content-md-center align-items-md-center">
  
        <div class="fooddetails  d-flex flex-column align-items-center">
            <div class="image-fluid"><img src="assets\MicrosoftTeams-image (1).png"></div>
            <h2 class="family text-center mt-2 mb-2  text-light">Login/Signup</h2>
  
            <form action="none">
            <div class="form-row m-4  ">
              <input type="text" class="form-control-lg logininput" placeholder="Mobile Number *"> 
            </div>
  
            <div class="w-90">
              <button class="btn btn-dark w-100" [routerLink]="['/otp']">Get OTP</button>
            </div>
            
          </form>
  
            
        </div>
    </div>
  </div>