<div class="FoodOrderpage  d-flex flex-column justify-content-end d-md-flex justify-content-md-center align-items-md-center">
  <div class="">
    <div class="fooddetails pb-4 pt-4 d-flex flex-column align-items-center">
        <div class="image-fluid"><img src="assets\MicrosoftTeams-image (1).png"></div>
        <h2 class="family text-center mt-2 mb-2  text-light">Enter OTP</h2>

        <form action="none">
        <div class=" d-flex justify-content-evenly mt-4 mb-4 ps-2  ">

          <input type="text" class="logininput wi" placeholder="0"> 
          <input type="text" class="logininput wi" placeholder="0"> 
          <input type="text" class="logininput wi" placeholder="0"> 
          <input type="text" class="logininput wi" placeholder="0"> 

        </div>

        <div>
          <button class="btn btn-dark w-100" [routerLink]="['/profile']">Continue</button>
        </div>
        
      </form>

        
    </div>
</div>
</div>