
.container-fluid .nav-item .nav-link{
  font-weight: 400;
  color: black!important;
  transition: background-color ease-in-out 0.5s;
}


.container-fluid .nav-item .active {
  font-weight: 500!important;
  color: white!important;
  background-color: black !important;
}


